# Java specific
target/
!**/src/main/**/target/
!**/src/test/**/target/
*.class

# Maven specific
mvnw
mvnw.cmd
.mvn
!.mvn/wrapper/maven-wrapper.jar

# IDE specific
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

# System files
.DS_Store
